{% extends 'base.html' %}
{% block title %}Verify {{ action_display|title }}{% endblock title %}
{% block content %}
    <h1 class="text-3xl font-splatoon1">Verify {{ action_display|title }}</h1>
    <p class="my-2">Please enter the code sent to '{{ request.user.email }}' to verify your {{ action_display }}.</p>
    <form class="form-css" method="post">
        {% csrf_token %}
        <div>
            {{ form.code.errors }}
            {{ form.code }}
        </div>
        <input type="submit" value="Verify">
    </form>
{% endblock content %}